.body {
    width: 100%;
    position: absolute;  
    top: 0%;
    bottom:10%;
    left: 0%;
    height: 90%;
    background-color: white;
}

footer {
    width: 100%;
    position: absolute;  
    bottom: 0;
    left: 0;
    height: 10%;
    background-color: #606060;
    margin: 0;
    padding: 0;
}

.logo {
    width: 15%;
    left: 42.5%;
    top: 20%;
    position: absolute; 
    margin: 0;
    padding: 0;
}

.copyright {
    top:35%;
    left: 15%;
    position: absolute;
    color: #c0c0c0; 
    margin: 0;
    padding: 0;
    font-size: large;
}

a {
    color:black;
    text-decoration: none;
    font-weight:bold;
}

.signInSection {
    width: 25%;
    top: 33%;
    left: 37.5%;
    height: 20%;
    position: absolute; 
    margin: 0;
    padding: 0;
    background-color: white;
}

.img {
    height:30%;

    left: 0%;
    margin: 0;
    padding: 0;
    position: absolute; 
}

.txt {
    width:85%;
    height:28%;
    right: 0%;
    margin: 0;
    padding: 0;
    position: absolute; 
    font-size: large;
}

.btn {
    width:100%;
    height:30%;
    bottom:0%;
    margin: 0;
    padding: 0;
    position: absolute; 
    background-color: #548235; 
    color:white; 
    font-weight:bold; 
    font-size: large; 
    border-color: #c0c0c0;
    border-style:solid;
}

hr {
    width:30%;
    top: 54%;
    left: 35%;
    margin: 0;
    padding: 0;
    position: absolute; 
}