<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'detail.css') }}">
                <!--flash 메세지를 보여주기 위한 프로세스-->
                {% with messages=get_flashed_messages()%}
                {% if messages %}
                    <script>
                        alert("{{messages[-1]}}")
                    </script>
                {% endif %}
                {%endwith%}
    </head>
    <body>
        <header>
                <a href='http://127.0.0.1:5500/templates/home.html'>
                    <img class='logo' src="{{ url_for('static', filename = 'logo.png') }}">
                </a>
                <form class='searchBar'>
                    <input type='text' class='searchTxt' placeholder='키워드로 검색해보세요!'>
                    <input type='submit' class='searchBtn' value='검색'>
                </form>
                <input type='button' value='회원가입' class='button' style='right: 25%' onclick="location.href='http://127.0.0.1:5500/templates/signUp.html'">
                <input type='button' value='로그인' class='button' style='right: 15%' onclick="location.href='http://127.0.0.1:5500/templates/signIn.html'">
        </header>
        <nav>
            <ul>
                <li><a href='https://www.naver.com/'>상품 구경</a></li>
                <li><a href='https://www.naver.com/'>상품 등록</a></li>
                <li><a href='https://www.naver.com/'>상품 관리</a></li>
                <li><a href='https://www.naver.com/'>팔로워 관리</a></li>
            </ul>
        </nav>
        <div class='body'>
            <div class='body' style='width:70%; height:100%; left:15%; background-color:white; top:0%;'>
                <div class='previewBar'>
                    {%if post.p_image1!=''%}
                        <a href="{{ url_for('image', name = post.p_image1) }}" target='_blank'><img src="{{ url_for('static', filename = '/uploads/' + post.p_image1) }}" class='preview'></a>
                    {%endif%}
                    {%if post.p_image2!=''%}
                        <a href="{{ url_for('image', name = post.p_image2) }}" target='_blank'><img src="{{ url_for('static', filename = '/uploads/' + post.p_image2) }}" class='preview'></a>
                    {%endif%}
                    {%if post.p_image3!=''%}
                        <a href="{{ url_for('image', name = post.p_image3) }}" target='_blank'><img src="{{ url_for('static', filename = '/uploads/' + post.p_image3) }}" class='preview'></a>
                    {%endif%}
                </div>
                <div class='title'>{{post.p_title}}</div>
                {%if post.p_soldOut==False%}
                    <div class='cost'>{{post.p_price}}</div>
                {%else%}
                    <div class='cost'>판매 완료</div>
                    {%endif%}
                <a href="{{ url_for('profile', nickname=post.p_seller) }}" class='router'><div class='seller'>{{post.p_seller}}</div></a>
                <div class='keyword'>{{post.p_keyword}}</div>
                <div class='description'>{{post.p_description}}</div>
                {%if post.p_seller==session['nickname']%}
                <form action="{{ url_for('edit', id=post.id) }}" method='POST'>
                <input type='submit' value='수정 하기' class='soldOutBtn'>
                </form>
                    {%if post.p_soldOut==False%}
                    <form action="{{ url_for('soldOut', id=post.id) }}" method='POST'>
                        <input type='submit' value='판매 완료' class='soldOutBtn' style='top:11%;'>
                    </form>
                    {%endif%}
                {%endif%}
            </div>
        </div>



        <footer>
            <p class='copyright'>Copyright 2022. Watermelon Market Inc.</p>
        </footer>

    </body>
</html>